<template>
    <div class="box">
        <form @submit.prevent="handleSubmit">
            <div class="box-header">
                <h1>Upload an Activity</h1>
            </div>
            <div class="upload-parent">
                <div class="upload-child" style="width: 50%">
                    <label for="title">Title</label>
                    <input name="activity[title]" id="title" type="text" style="width: 98%">
                    <label for="description">Description</label>
                    <textarea style="width: 100%" name="activity[description]" id="description" type="text"></textarea>
                </div>
                <div class="upload-parent">
                    <div class="upload-child">
                        <label for="type">Type of Activity</label>
                        <select id="type" name="activity[activity_type]">
                            <option value="cycling">Cycling</option>
                            <option value="running">Running</option>
                            <option value="ebike">Ebike</option>
                            <option value="inline_skates">Inline Skates</option>
                            <option value="skateboarding">Skateboarding</option>
                            <option value="other">Other</option>
                        </select>
                        <label for="type">Privacy</label>
                        <select id="privacy" name="activity[privacy]">
                            <option value="public_activity">Public</option>
                            <option value="private_activity">Private</option>
                        </select>
                    </div>
                </div>
            </div>
            <label for="original_activity_log_file">Upload GPX file</label>
            <input name="activity[original_activity_log_file]" id="original_activity_log_file" type="file" required>
            <input type="submit" value="Upload Activity" class="focus-btn">

        </form>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        methods: {
            handleSubmit(event) {
                let formData = new FormData(event.target);
                axios.post(process.env.VUE_APP_API_BASE + 'activity', formData).then(
                    function (response) {
                        window.location.replace(response.data.activity.id)
                    }
                )
            }
        }
    }
</script>

<style scoped>
    input, select, textarea {
        display: block;
        margin-bottom: 10px;

    }
    label {
        font-family: sans-serif;
    }
    .upload-parent {
        justify-content: start;
        display: flex;
        flex-direction: row;
        align-items: start;
        flex-wrap: wrap;
    }
    .upload-child{
        margin-right: 10px;
    }
    select {
        height: 30px;
        width: 140px;
    }




</style>
